<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
                <div class="brand">
                    <%= link_to 'Dads Course',  root_path %>
                </div>
            
                    
					<ul class="nav pull-right">
                      <% if user_signed_in? %>
                        <li>    
                            <%= link_to 'Lessons',  lessons_path %>
                        </li>
                        <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                      <% else %>
                            <li><%= link_to "Login", new_user_session_path %></li>
                      <% end %>
					</ul>
					
			</div>
		</div>	
	</div>		